extends layout

block content
  section.artile-edit
    if act == 'edit'
      p edit
      .row
        span 标题：
        input#title(type='text',value='#{article.title}')
        input#aid(type='hidden',value='#{article._id}')
      .row
        span 分类：
        select#category
          option(selected) 未分类
      .row
        span 标签：
        input#tags(type='text',value='#{article.tags}')
      .row
        span.for-textarea 内容：
        textarea#content #{article.content}
      .row
        span &nbsp;
        a#art-editBtn.btn.btn-blue(href='javascript:') 确定
    else
      p add
      .row
        span 标题：
        input#title(type='text')
      .row
        span 分类：
        select#category
          option(selected) 未分类
      .row
        span 标签：
        input#tags(type='text')
      .row
        span.for-textarea 内容：
        textarea#content
      .row
        span &nbsp;
        a#art-editBtn.btn.btn-blue(href='javascript:') 确定
        a.btn.btn-gray(href='javascript:') 重置