extends layout

block content
  section
    h3 文章管理列表
    .toolbar
      a.btn.btn-green(href='./article_edit') 添加文章
    ul#art-list.list
      for article in dataList
        li 标题：#{article.title}
          a(href='./article_edit/#{article._id}') 编辑
          a(href='javascript:', data-del-id='#{article._id}') 删除
      else
        li no article.
