doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .wrap
      .content
        header
          h1 Nodejser - Admin
          nav
            a(href='/admin') 首页
            a(href='/admin/article') 文章列表
          .right-bar
            a(href='/') 博客首页
        block content
      footer
        p Copy Rights 2012
    script(type='text/javascript',src='/js/admin/sea.js',data-main='ad_init')
