.fancybox-layer
  #loginBox.login-box
    h3 管理员登陆
    .row
      span.span-col 用 户 名：
      input#userName(type='text',placeholder='name')
    .row
      span.span-col 密 码：
      input#password(type='password',placeholder='password')
    .row
      span.span-col &nbsp;
      a#loginBtn.btn.btn-blue(href='javascript:') 登 录
      strong#loginTips.tips-show
      