.fancybox-layer
  #loginBox.login-box
    .row
      span 用户名：
      input#userName(type='text')
    .row
      span 密码：
      input#password(type='password')
    .row
      span &nbsp;
      a#loginBtn.btn.btn-blue(href='javascript:') 登录
    .row
      span &nbsp;
      span#loginTips.tips-show