doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .wrap
      .content
        header
          h1 Nodejser
            em.desc 关注Nodejs、前端开发 
        section
          block content 
      footer
        p Copy Rights 2012
