doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .wrap
      .content
        header
          h1 Nodejser
            em.desc 关注Nodejs、前端开发
          nav
            a(href='/') 首页
            a(href='/article') 文章列表
            a(href='/about') 关于About
        section
          block content 
      footer
        p Copy Rights 2012
          a#login(href='#loginBox') Admin
    include fancyBox
    script(type='text/javascript',src='/js/sea.js',data-main='init')
