extends layout

block content
  section.artile-edit
    if act == 'edit'
      .toolbar 编辑文章:
      .row
        span.span-col 标题：
        input#title(type='text',value='#{article.title}',size='60')
        input#aid(type='hidden',value='#{article._id}')
      .row
        span.span-col 分类：
        select#category
          option(selected,value='未分类') 未分类
      .row
        span.span-col 标签：
        input#tags(type='text',value='#{article.tags}')
      .row
        span.span-col.for-textarea 内容：
        textarea#content.ke-content(name='content') #{article.content}
      .row
        span.span-col &nbsp;
        a#art-editBtn.btn.btn-blue(href='javascript:') 确定
        a.btn.btn-gray(href='javascript:history.back(-1)') 取消
    else
      .toolbar 添加新的文章
        strong (注意：必须要有标题和内容)
      .row
        span.span-col 标题：
        input#title(type='text',size='60')
      .row
        span.span-col 分类：
        select#category
          option(selected) 未分类
      .row
        span.span-col 标签：
        input#tags(type='text',placeholder='多个标签请使用逗号分开')
      .row
        span.span-col.for-textarea 内容：
        textarea#content.ke-content(name='content')
      .row
        span.span-col &nbsp;
        a#art-editBtn.btn.btn-blue(href='javascript:') 确定
        a.btn.btn-gray(href='javascript:') 重置
  script(type='text/javascript',src='/KE/kindeditor-all-min.js')
  script(type='text/javascript')
    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('textarea[name="content"]', {
            allowFileManager : true
        });
    });