doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .wrap
      .content
        header
          .logo-box
            h1
              a(href='/admin') NodeBlog - Admin
          .pull-right
            a.home-page(href='/') 博客首页
            a.btn.btn-gray(href='javascript:') 退 出
          nav
            ul
              li
                a(href='/admin') 首页
              li
                a(href='/admin/article') 文章列表
        block content
      footer
        .footer-c
          p &copy; 2012
    script(type='text/javascript',src='/js/admin/sea.js',data-main='ad_init')
