@charset 'utf-8';
/*global style*/
html, body {
    height: 100%;
}
body {
    font: 12px "微软雅黑", "Lucida Grande", Helvetica, Arial, sans-serif;
    line-height: 18px;
    min-width: 800px;
}
body, h1, h2, h3, ul, li, dl, dt{
    margin: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
nav a:hover,
section a,
.footer-c a {
    color: #008EE8;
}
select,
input,
textarea {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
}
select {
    height: 28px;
    line-height: 28px;
}
input,
textarea {
    padding: 4px;
    height: 16px;
    line-height: 16px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s; 
}
input:focus,
textarea:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
table { 
    border-collapse: collapse;
}
nav a:hover,
.btn:hover{
    text-decoration: none;
}
.fancybox-layer,
.tips-show {
    display: none;
    margin: 0 12px;
}
.row {
    overflow: hidden;
    padding: 6px 0;
}
.span-col {
    padding-right: 2px;
    text-align: right;
    width: 80px;
}
.row .btn,
.toolbar .btn {
    margin-right: 12px;
}
select,
input,
textarea,
.row span,
.btn,
.home-page,
.article-info i {
    vertical-align: middle;
}
.row .for-textarea { 
    vertical-align: top;
}
.ke-content{
    min-width: 800px;
    height: 300px;
}
.row .ke-container,
.span-col,
.article-info i{
    display: inline-block;
    zoom: 1;
}

/*page style*/
.wrap {
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
}
.content {
    padding-bottom: 59px
}
.logo-box,
nav,
section,
.footer-c {
    padding-left: 40px;
    padding-right: 40px;
}
header {
    background: #474A49;
    padding-top: 38px;
    position: relative;
}
.logo-box {
    position: absolute;
    left: 0;
    top: 7px;
    text-shadow: 2px 1px 1px #000000;
}
.logo-box a {
    font-size: 24px;
    line-height: 24px;
    color: #FF9900;
    font-style: italic;
    zoom: 1;
}
.desc {
    font-size: 12px;
    font-weight: normal;
    color: #DDDDDD;
    margin-left: 6px;
}
.pull-right {
    position: absolute;
    right: 40px;
    top: 8px
}
.search-box {
    top: 45px;
}
.home-page{
    color: #FFF;
    margin-right: 20px;
}
nav {
    background: #F8F8F8;
    border-bottom: 1px solid #ebeded;
    border-top: 1px solid #CCCCCC;
    height: 38px;
}
nav ul {
    float: left;
    overflow: hidden;
    padding-left: 0;
}
nav li {;
    float: left;
    height: 38px;
    line-height: 38px;
    list-style-type: none;
    padding-right: 40px;
}
nav a {
    color: #575756;
    font-size: 14px;
    font-weight: bold;
    text-shadow: -1px 0 1px #DDDDDD;
}
.index,
.post,
.ad_article {
    padding-top: 10px;
    padding-bottom:10px;
}
.post .title a{
    font-size: 16px;
    line-height: 24px;
    color: #008EE8;
}
article {
    min-width: 540px;
    padding: 20px 0;
    color: #3E3E3E;
}
article .title {
    font-size: 16px;
    line-height: 32px;
}
article .text,
.summry,
.card {
    padding: 12px 20px;
    margin-top: 2px;
    background: #F6F6F6;
    border-color: #E6E6E6;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-radius: 4px;
}
.article-info{
    overflow: hidden;
    zoom: 1;
}
.article-info span{
    float: left;
    margin-right: 2px;
    padding-right: 4px;
    cursor: default;
    border-radius: 2px;
}
.article-info span:hover,
.article-info span:hover .aicon{
    background-color: #636363;
    color: #FDFDFD;
    text-decoration: none;
}
.article-info span:hover i {
    background-image: url("../images/glyphicons-halflings-white.png");
}
.article-info i{
    float: left;
    padding: 9px;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    text-indent: -200px;
    background-image: url("../images/glyphicons-halflings.png");
    background-repeat: no-repeat;
}
.pubtime {
    background-position: -46px -22px;
}
.category {
    background-position: -118px -70px;
}
.tags {
    background-position: 2px -46px;
}
.clicks {
    background-position: -190px -142px;
}
.aicon {
    margin-right: 2px;
    color: #3E3E3E;
}
.archives,
.about {
    padding-top: 20px;
    padding-bottom: 20px;
}
.archive-wrap {
    position: relative;
    margin-left: 60px;
    border-left: 5px solid #EFEFEF;
}
.archives h3 {
    padding: 0 8px;
    float: left;
    margin-left: -60px;
    font-size: 14px;
    color: #787878;
}
.archives ul {
    margin-bottom: 12px;
    list-style-position: inside;
    padding-left: 1em;
}
.archives .date {
    margin-left: 4px;
    color: #666;
}
.about h3 {
    margin-bottom: 4px;
}
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #F1F1F1;
    border-top: 1px solid #DDDDDD;
    height: 59px;
}
.footer-c {
    border-top: 1px solid #FFFFFF;
    overflow: hidden;
    padding-top: 10px;
    color: #888A8A;
}
.footer-c a {
    margin-left: 6px;
}
.btn {
    display: inline-block;
    zoom: 1;
    font-size: 12px;
    position: relative;
    padding: 2px 10px;
    line-height: normal;
    border: 1px solid;
    border-radius: 4px;
    color: #FFFFFF;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    vertical-align: middle;
}
.btn-red {

}
.btn-blue {
    background: #53A5EA;
    background: -moz-linear-gradient(to bottom, #68B3EC, #318FE8);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background: -webkit-gradient(linear,0 0,0 100%,from(#68B3EC),to(#318FE8));
}
.btn-green {
    background: #56AF10;
    background: -moz-linear-gradient(to bottom, #65C013, #3D950B);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background: -webkit-gradient(linear,0 0,0 100%,from(#65C013),to(#3D950B));
}
.btn-black {
    border-color: #484848;
    background: #1d221f;
    background: -moz-linear-gradient(to bottom, #555555, #333333);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background: -webkit-gradient(linear,0 0,0 100%,from(#555555),to(#333333));
}
.btn-gray {
    background: #E9E9E9;
    background: -moz-linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #333333;
    background: -webkit-gradient(linear,0 0,0 100%,from(#FFFFFF),to(#E6E6E6));
}
.pager {
    padding: 4px 0;
}
.pager li {
    display: inline-block;
    line-height: 25px;
    margin-right: 3px;
}
.pager a {
    display: block;
    color: #f2f2f2;
    background-color: #262626;
    text-shadow: 1px 0 0 #101011;
    padding: 0 10px;
    border-radius: 4px;
}
.pager a:hover {
    text-decoration: underline;
}
.pager .current {
    color: #FF9900;
}
.pager .current:hover {
    text-decoration: none;
}
.fancybox-all {
    width: 300px;
    padding-bottom: 10px;
}
.login-box input {
    width: 190px;
    height: 18px;
}
.fancybox-all h3 {
    padding: 8px 0;
}
.login-box .span-col {
    width: 58px;    
}
.tips,
.tips-show {
    color: red;
}
.no-result {
    color: red;
    font-weight: bold;
}

/*admin style*/
.toolbar {
    padding: 10px 0;
    font-size: 14px;
}
.toolbar strong {
    margin-left: 6px;
    font-size: 12px;
    color: red;
}
.ad-index .span-col {
    width: 120px;
    color: red;
}
.article-table thead{
    border-bottom: 1px solid #999999;
    line-height: 30px;
}
.article-table td {
    padding: 4px 2px;
    border-bottom: 1px dotted #CCCCCC;
}