@charset 'utf-8';
html, body {
    height: 100%;
}
body {
    font: 12px "微软雅黑", "Lucida Grande", Helvetica, Arial, sans-serif;
    line-height: 18px;
}
body, h1, h2, h3, ul, li, dl, dt, p {
    margin: 0;
}
a {
    text-decoration: none;
}
.fancybox-layer,
.tips-show {
    display: none;
}
.wrap {
    min-height: 100%;
    position: relative;
}
.content {
    padding-bottom: 59px
}
.logo-box,
nav,
section,
.footer-c {
    padding-left: 40px
}
header {
    background: #474A49;
    padding-top: 38px;
    position: relative;
}
.logo-box {
    position: absolute;
    left: 0;
    top: 7px;
    text-shadow: 2px 1px 1px #000000;
}
.logo-box a {
    font-size: 24px;
    line-height: 24px;
    color: #FF9900;
    font-style: italic;
    zoom: 1;
}
.desc {
    font-size: 12px;
    font-weight: normal;
    color: #DDDDDD;
    margin-left: 6px;
}
.pull-right {
    position: absolute;
    right: 40px;
    top: 10px
}
nav {
    background: #F8F8F8;
    border-bottom: 1px solid #ebeded;
    border-top: 1px solid #CCCCCC;
    height: 38px;
}
nav ul {
    float: left;
    overflow: hidden;
    padding-left: 0;
}
nav li {;
    float: left;
    height: 38px;
    line-height: 38px;
    list-style-type: none;
    padding-right: 40px;
}
nav a {
    color: #575756;
    font-size: 14px;
    font-weight: bold;
    text-shadow: -1px 0 1px #DDDDDD;
}
.tips-show {
    color: red;
}
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #F1F1F1;
    border-top: 1px solid #DDDDDD;
    height: 59px;
}
.footer-c {
    border-top: 1px solid #FFFFFF;
    overflow: hidden;
    padding-top: 12px;
    color: #888A8A;
}
.footer-c a {
    margin-left: 6px;
    color: #008EE8;
}

.btn {
    display: inline-block;
    zoom: 1;
    position: relative;
    padding: 0 10px;
    border: 1px solid;
    border-radius: 4px;
    height: 20px;
    line-height: 20px;
    color: #FFFFFF;
}
.btn-red {
    border-color: red;
    background: #ed1c24;
    background: -moz-linear-gradient(center top , rgba(237,28,36,0.3) 0, rgba(237,28,36,1) 44%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear,0 0,0 100%,from(rgba(237,28,36,0.3)),color-stop(44%,rgba(237,28,36,1)));
}
.btn-blue {
    background: #009ddb;
    background: -moz-linear-gradient(center top , rgba(0,157,219,0.3) 0px, rgba(0,157,219,1) 44%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear,0 0,0 100%,from(rgba(0,157,219,0.3)),color-stop(44%,rgba(0,157,219,1)));
}
.btn-green {
    border-color: green;
    background: #77b800;
    background: -moz-linear-gradient(center top , rgba(119,180,0,0.3) 0px, rgba(119,180,0,1) 44%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear,0 0,0 100%,from(rgba(119,180,0,0.3)),color-stop(44%,rgba(119,180,0,1)));
}
.btn-black {

}
.btn-gray {

}