<% include header %>
	<section class="about">
		<div class="card">
		    <h3>About me:</h3>
		    <p>屌丝一个（其实我是很爱生活的 -_-!），喜欢瞎折腾，但大多悲了个剧。</p>
		    <pre class="prettyprint lang-js">var card = {
    Name: 'shaman',
    EnName: 'Devin Chen',
    Age: '80后',
    Hometown: '山川秀丽、风景迷人、妹子水灵的湖南攸县',
    Location: '上海',
    QQ: '27231583',
    Email: 'shaman05@me.com',
    Github: 'https://github.com/Shaman05/',
    Timeline: [
        {
            time: '2009.11 ~ 2010.5',
            company: '重庆君临盛世旅游发展有限公司',
            job: '网页制作（开始从事前端的第一份工作）'
        },
        {
            time: '2010.6 ~ 2010.12',
            company: '重庆瑟曼科技有限公司',
            job: '网页制作（打酱油的时间多，开始瞎折腾）'
        }
        {
            time: '2010.12 ~ 2012.3',
            company: '中新视讯（CCTV麒麟财经网）',
            job: '前端工程师（在这里有很多优秀的前辈，学到了很多的东西，开始接触了php）'
        },
        {
            time: '2012.3 ~ 至今',
            company: 'ASDC',
            job: '前端工程师（在我眼里的前端已经跨越了一个概念，I love her.）'
        }
    ]
};</pre>
		</div>
	</section>
<% include footer %>