<% include header %>
	<section>
		<article>
			<h2 class="title"><%= article.title %></h2>
			<% include article-info-block %>
			<div class="text">
				<%- article.content %>
			</div>
		</article>
	    <div class="comments-box">
	    <script type="text/javascript" charset="utf-8" src="http://open.denglu.cc/connect/commentcode?appid=43983denXkNVEbdM1xXGcwxNHAJMf3&postid=<%= article._id %>&title=<%= article.title%>"></script>
	    </div>
	</section>
<% include footer %>