<div class="article-info">
	<span title="最后更新时间"><i class="pubtime">pubtime:</i><%= article.pubtime %></span>
	<span title="分类"><i class="category">category:</i><%= article.category %></span>
	<span title="标签"><i class="tags">tags:</i><%= article.tags %></span>
	<span title="点击次数"><i class="clicks">clicks:</i><%= article.clicks %></span>
</div>