<% if(articles.length > 0){ articles.forEach(function(article, index){ %>
<div class="post">
	<h3 class="title"><a href="/article/<%= article._id %>"><%- article.title %></a></h3>
	<% include article-info-block %>
	<div class="summry">
		<%- article.summry %>
	</div>
</div>
<% })}else{ %>
<div class="no-result">
    <p>抱歉，还没有文章。</p>
</div>
<% } %>