<div class="fancybox-layer">
    <div id="loginBox" class="login-box">
        <h3>管理员登录</h3>
        <div class="row">
            <span class="span-col">用 户 名：</span>
            <input id="userName" type="text" placeholder="name">
        </div>
        <div class="row">
            <span class="span-col">密 码：</span>
            <input id="password" type="password" placeholder="password">
        </div>
        <div class="row">
            <span class="span-col">&nbsp;</span>
            <a id="loginBtn" class="btn btn-blue" href="javascript:">登 录</a>
            <strong id="loginTips" class="tips-show"></strong>
        </div>
    </div>
</div>