			<footer>
				<div class="footer-c">
					<div>
						&copy; 2012 
						<a href="<%= siteData.powerUrl %>"><%= siteData.power%></a>
						<span>Themed by shaman</span>
					</div>
					<div>
						使用
						<a href="http://nodejs.org">Nodejs</a>
						<a href="http://expressjs.com">Express</a>
						<a href="https://github.com/visionmedia/ejs">ejs</a>
						<a href="http://cn.docs.mongodb.org">MongoDB</a>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<% include fancy-box-login %>
	<script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/prettify.js"></script>
    <script type="text/javascript" src="/js/fancybox2/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="/js/main.js"></script> 
</body>
</html>