			<footer>
				<div class="footer-c">
					<div>
						<span>Copyright&copy; <%= siteData.time %></span>
            <span>Power by <a href="http://github.com/Shaman05/node-blog">node-blog</a></span>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<% include fancy-box-block %>
	<script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/prettify.js"></script>
  <script type="text/javascript" src="/js/fancybox2/jquery.fancybox.pack.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>