<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="">
<meta name="keywords" content="">
<link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
<link type="text/css" rel="stylesheet" href="/stylesheets/prettify.css">
<link type="text/css" rel="stylesheet" href="/js/fancybox2/jquery.fancybox.css">
<!--[if lt IE 9]>
<script type="text/javascript" src="/js/html5shiv.js"></script>
<![endif]-->	
<title><%= title%></title>
</head>
<body>
	<div class="wrap">
		<div class="content">
			<header>
				<div class="logo-box">
					<h1><a href="/"><%= siteData.master %></a><em class="desc"><%= siteData.description %></em></h1>
				</div>
				<div class="pull-right">
					<% if(isLogin){ %>
                    	<a href="/admin" class="btn btn-green" title="Enter">进 入</a>
                    <% }else{ %>
                    	<a href="#loginBox" id="login" class="btn btn-black" title="Admin login">登 录</a>
                    <% } %>
				</div>
				<div class="pull-right search-box">
				    <form action="/search/" method="get">
				        <input name="keyword" type="text" placeholder="keyword" required>
				    </form>
				</div>
				<nav>
					<ul>
						<li><a href="/home">首页</a></li>
						<li><a href="/about">About</a></li>
					</ul>
				</nav>
			</header>