<% include header %>
	<section class="about">
        <ul>
            <li><a href="/chat" title="nodejs + socket.io构建">简易聊天室</li>
            <li><a href="http://runjs.cn/detail/g79hcxiq" title="基于jqeury , 使用seajs作为模块加载器" target="_blank">mota游戏</li>
        </ul>
	</section>
<% include footer %>