<div class="fancybox-layer">
    <div id="categoryBox" class="fancybox-all category-box">
        <h3>添加文章分类：</h3>
        <div class="row">
            <span class="span-col">分类名称：</span>
            <input id="categoryName" type="text" placeholder="input category name">
        </div>
        <div class="row">
            <span class="span-col">&nbsp;</span>
            <a id="categoryBtn" class="btn btn-blue" href="javascript:">添 加</a>
            <strong id="categoryTips" class="tips-show"></strong>
        </div>
    </div>
</div>