			<footer>
				<div class="footer-c">
					<div>
						<span>Power by <a href="http://github.com/Shaman05/node-blog">node-blog</a></span>,
            <span>富文本编辑器由 <a href="http://kindeditor.net/" target="_blank">KindEdit</a> 驱动</span>,
            <span>在线编辑器由 <a href="http://sourceforge.net/projects/editarea/" target="_blank">EditArea</a> 驱动</span>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<script type="text/javascript" src="/js/admin/sea.js" data-main="ad_init"></script>
</body>
</html>