<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="">
<meta name="keywords" content="">
<link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
<link type="text/css" rel="stylesheet" href="/js/fancybox2/jquery.fancybox.css">
<!--[if lt IE 9]>
<script type="text/javascript" src="/js/html5shiv.js"></script>
<![endif]-->	
<title><%= title%></title>
</head>
<body>
	<div class="wrap">
		<div class="content">
			<header>
				<div class="logo-box">
					<h1><a href="/admin">NodeBlog - Admin</a></h1>
				</div>
				<div class="pull-right">
				    <a href="/" class="home-page" title="Enter">博客首页</a>
				    <a href="/admin/logout" id="logout" class="btn btn-gray">退 出</a>
				</div>
				<nav>
					<ul>
						<li><a href="/admin">后台首页</a></li>
						<li><a href="/admin/article">文章列表</a></li>
					</ul>
				</nav>
			</header>